/* resting styles to none */
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Rogue Hero';
}
/* Ignore, just to have a preview of the color palette */
 .classWhatever {
    color: #b48f8b;
    color: #9b6964;
    color: #845955;
    color: #744f4b;
    color: #b6a194;
    color: #91725d;
    color: #6c4227;
    color: #5c3821;
    color: #362114;
    color: #962333;
    color: #a32633;
    color: #343339;
    color: #20252c;
    color: #13171b;
 }

/* startScreen */

#toastContainer,
#thanksToastContainer {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20%;
    left: 10%;
    justify-content: center; /* Centers item horizontally */
    align-items: center; /* Centers item vertically */ 
    width: 80%;
    background-color: #60262c;
    color: #ceb5b2;
    border: solid 2px #ceb5b2;
    border-radius: 10px;
    padding: 10px;
}

#toastContainer.show,
#thanksToastContainer.show {
    visibility: visible;
}

#closeBTN,
#thanksCloseBTN {
    align-self: flex-end;
    padding: 0.5rem;
    color: #88a2bc;
}
#instructionsText,
#thanksText{
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: whitesmoke;
    line-height: 1.8;
}
/* hasta aqui los toasts, ahora la pantalla de inicio general */

#StartingScreen {
    display: flex;
    justify-content: flex-start;
    background: radial-gradient(circle, #ffd9d6, #754d4a);
}

#image img,
#endingPicture img{
    height: 100vh;
}

#textAndBTNs,
#endingText {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
}

#gameTitle,
#endingTitle {
    font-size: 5rem;
    color: #7a1c28;
    -webkit-text-stroke: 2px #13171b;
    text-shadow: 
        4px 4px 0 #e50017,  /* Sombra hacia abajo-derecha */
        -4px 4px 0 #e50017, /* Sombra hacia abajo-izquierda */
        4px -4px 0 #e50017, /* Sombra hacia arriba-derecha */
        -4px -4px 0 #e50017;
}

#start-buttons,
#endingText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#start-buttons button,
#endingText button {
    margin: 1rem;
    border: solid 3px #60262c;
    padding: 1rem;
    border-radius: 0.7rem;
    background-color: #ffc8c0;
}

/* Main Game Screen */

#mainGame{
    display: none;
    background: radial-gradient(circle, #ffd9d6, #754d4a);
}

#misteriousWord {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

#hangmanImg img{
    max-height: 80vh;
    padding-left: 30px;
}

#box {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-evenly;
}

#counters{
    font-size: 1rem;
}

#box button{
    padding: 0 10px 0 10px;
    border: solid #13171b 1px;
    border-radius: 5px;
}

.letterButton {
    border: solid 2px #13171b;
    padding: 3px 4px 3px 4px;
    font-size: 2.5rem;
    background-color: whitesmoke;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterButton.selected {
    border: solid 2px #88a2bc;
    padding: 3px 4px 3px 4px;
    font-size: 3rem;
    background-color: rgb(180, 180, 180);
    color: #88a2bc;
}


#playinArea{
    display: flex;
    flex-wrap: wrap;
    gap: 85px;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px 20px 40px;
    border-left: dashed #7a1c28;
}


/* Ending screen */
#endingScreen {
    display: none;
    background: radial-gradient(circle, #ffd9d6, #754d4a);
    justify-content: flex-start;
    height: 100vh;
}

/* changing button colors when clicked */
button.clicked,
#start-buttons button.clicked,
#endingText button.clicked
{
    border: solid 3px #ffc8c0;
    background-color: #60262c;
    color: whitesmoke;
}